* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Courier New', Courier, monospace;
    color: rgba(0, 0, 0, .8); 
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    min-height: 100vh;
}

header {
    background-color: black;
    display:  flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    padding: 7px;
}

.menu__item {
    display: inline-block;
    list-style: none;
}

.menu__item a {
    text-decoration: none;
    display: block;
    padding: 10px;
    color: #aaa 
}

.menu__item a:hover {
    color:rgba(236, 233, 233, 0.5)
}
/*MAIN*/
main{
    flex-grow: 1;
}
.parrafo {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}

.cabecera {
    background-color: #aaaaaa;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}